<cds-modal size="md"
           [open]="open"
           (overlaySelected)="closeModal()">
  <cds-modal-header (closeSelect)="closeModal()">
    <h3 cdsModalHeaderHeading
        i18n>{{ title }}</h3>
    <cd-help-text></cd-help-text>
  </cds-modal-header>

  <section cdsModalContent
           *cdFormLoading="loading">
    <form name="callHomeForm"
          #formDir="ngForm"
          [formGroup]="callHomeForm"
          novalidate>
    @if (!isConfigured) {
      <p i18n>
        IBM Call Home enables users to share basic configuration data of their cluster with IBM. This
        allows IBM Storage Ceph to be configured to meet its maximum potential.
        IBM Support and development teams can also use this Call Home
        information in order to quickly analyze and solve IBM Storage Ceph
        user problems.
      </p>
      <p class="cds-mt-3">
        Enabling call home has the following benefits:
      </p>
      <ul>
        <li class="p-1">Improves service response time</li>
        <li class="p-1">Proactively detects issues</li>
        <li class="p-1">Gives a better customer support experience in areas of usability and ease of use</li>
        <li class="p-1">Provide customer insights reports for support and development</li>
      </ul>
      <!-- Customer Number -->
      <div class="form-item cds-mt-5">
        <cds-text-label
               for="customerNumber"
               i18n>IBM customer number
          <cd-help-text>An IBM Customer Number (ICN) is the unique number that IBM issues
              its customers during the post contract signing entitlement process. It is a 7 character long string</cd-help-text>
          <input cdsText
                 type="text"
                 id="customerNumber"
                 name="customerNumber"
                 formControlName="customerNumber"
                 maxlength="7"
                 autofocus>
        </cds-text-label>
        @if (callHomeForm.showError('customerNumber', formDir, 'required')) {
          <span class="invalid-feedback"
                i18n>This field is required.</span>
        }
      </div>

      <div class="form-item">
        <cds-text-label
               for="firstName"
               i18n>First name
          <input cdsText
                 type="text"
                 id="firstName"
                 name="firstName"
                 formControlName="firstName">
        </cds-text-label>
        @if (callHomeForm.showError('firstName', formDir, 'required')) {
          <span class="invalid-feedback"
                i18n>This field is required.</span>
        }
      </div>

      <!-- Last name -->
      <div class="form-item">
        <cds-text-label
               for="lastName"
               i18n>Last name
          <input cdsText
                 type="text"
                 id="lastName"
                 name="lastName"
                 formControlName="lastName">
        </cds-text-label>
        @if (callHomeForm.showError('lastName', formDir, 'required')) {
          <span class="invalid-feedback"
                i18n>This field is required.</span>
        }
      </div>

        <!-- Email -->
        <div class="form-item">
          <cds-text-label
                 for="email"
                 i18n>Email
            <input cdsText
                   type="text"
                   id="email"
                   name="email"
                   formControlName="email">
        </cds-text-label>
            @if (callHomeForm.showError('email', formDir, 'required')) {
              <span class="invalid-feedback"
                    i18n>This field is required.</span>
            }
            @if (callHomeForm.showError('email', formDir, 'email')) {
              <span class="invalid-feedback"
                    i18n>The value is not a valid email address.</span>
            }
        </div>

        <!-- Phone -->
        <div class="form-item">
          <cds-text-label
                 for="phone"
                 i18n>Phone number
            <input cdsText
                   type="text"
                   id="phone"
                   name="phone"
                   formControlName="phone">
        </cds-text-label>
          @if (callHomeForm.showError('phone', formDir, 'required')) {
            <span class="invalid-feedback"
                  i18n>This field is required.</span>
          }
        </div>

        <!-- Country code -->
        <div class="form-item">
          <cds-text-label
                 for="countryCode"
                 i18n>Country code
            <input cdsText
                   type="text"
                   id="countryCode"
                   name="countryCode"
                   formControlName="countryCode">
        </cds-text-label>
          @if (callHomeForm.showError('countryCode', formDir, 'required')) {
            <span class="invalid-feedback"
                  i18n>This field is required.</span>
          }
        </div>

      <!-- Address -->
      <div class="form-item">
        <cds-text-label
               for="address"
               i18n>Address
          <input cdsText
                    type="text"
                    id="address"
                    name="address"
                    formControlName="address">
        </cds-text-label>
        @if (callHomeForm.showError('address', formDir, 'required')) {
          <span class="invalid-feedback"
                i18n>This field is required.</span>
        }
      </div>

      <!-- Customer company name-->
      <div class="form-item">
        <cds-text-label
               for="companyName"
               i18n>Company name
          <input cdsText
                 type="text"
                 id="companyName"
                 name="companyName"
                 formControlName="companyName">
        </cds-text-label>
        @if (callHomeForm.showError('companyName', formDir, 'required')) {
          <span class="invalid-feedback"
                i18n>This field is required.</span>
        }
      </div>

        <!-- License agreement -->
        <div class="form-item">
          <div class="cd-col-form-offset">
            <div class="custom-control custom-checkbox">
              <label class="cds--label"
                     i18n>By enabling Call Home, you agree to allow IBM and its subsidiaries to store and use your contact information
                    and certain call-home system information anywhere they do business worldwide as described in the Program license
                    agreement and documentation. For more information, please refer to the Program license agreement and documentation.</label>
              <div>
                <cds-checkbox
                      id="licenseAgrmt"
                      name="licenseAgrmt"
                      formControlName="licenseAgrmt"
                      i18n>I agree.</cds-checkbox>
                @if (callHomeForm.showError('licenseAgrmt', formDir, 'required')) {
                  <span class="invalid-feedback"
                        i18n>You must agree to the license agreement to proceed.</span>
                }
              </div>
            </div>
          </div>
        </div>
    } @else {
        <p i18n>IBM Call Home is enabled in your cluster. You can click Deactivate to disable it.</p>
        <div class="cds-mt-3">
          <button cdsButton="tertiary"
                  (click)="stop()"
                  i18n>Deactivate</button>
        </div>
        @if (callHomeStatus$ | async; as status) {
        <div class="form-item cds-mt-3">
          <cds-text-label i18n>Connectivity
            <span class="d-block fs-6 fw-light text-muted"
                  [title]="status.last_checked * 1000 | date:'yyyy-MM-ddTHH:mm:ss.SSSZ':'UTC' | cdDate"
                *ngIf="status.last_checked">Last refreshed: {{ status.last_checked * 1000 | date:'yyyy-MM-ddTHH:mm:ss.SSSZ':'UTC' | relativeDate }}</span>
          </cds-text-label>

          <div class="cd-col-form-input mt-1">
            <cd-call-home-connectivity-status [status]="status"></cd-call-home-connectivity-status>
          </div>
          <div class="cds-mt-3">
            <button cdsButton="tertiary"
                    id="testConnectivity"
                    (click)="testConnectivity()">
              Test connectivity
              <i [ngClass]="callHomeRefreshLoading ? [icons.spinner, icons.spin] : [icons.refresh]"></i>
            </button>
          </div>
        </div>
        }
        <div class="form-item cds-mt-3">
          <cds-text-label i18n>Inventory</cds-text-label>
          <div class="cd-col-form-input">
            <button cdsButton="tertiary"
                    id="inventoryBtn"
                    aria-label="Download Inventory Report"
                    (click)="download('inventory')">
              Download
              <svg cdsIcon="download" size="16" class="cds--btn__icon"></svg>
            </button>
          </div>
        </div>
      
        <div class="form-item cds-mt-3">
          <cds-text-label i18n>Status</cds-text-label>
          <div class="cd-col-form-input">
            <button cdsButton="tertiary"
                    id="statusBtn"
                    aria-label="Download Status Report"
                    (click)="download('status')">
              Download
              <svg cdsIcon="download" size="16" class="cds--btn__icon"></svg>
            </button>
          </div>
        </div>
      
        <div class="form-item cds-mt-3">
          <cds-text-label i18n>Last Contact</cds-text-label>
          <div class="cd-col-form-input">
            <button cdsButton="tertiary"
                    id="lastContactBtn"
                    aria-label="Download Last Contact Report"
                    (click)="download('last_contact')">
              Download
              <svg cdsIcon="download" size="16" class="cds--btn__icon"></svg>
            </button>
          </div>
        </div>
      
        <div class="form-item cds-mt-3">
          <cds-text-label i18n>Performance</cds-text-label>
          <div class="cd-col-form-input">
            <button cdsButton="tertiary"
                    id="PerformanceBtn"
                    aria-label="Download Performance Report"
                    (click)="download('performance')">
              Download
              <svg cdsIcon="download" size="16" class="cds--btn__icon"></svg>
            </button>
          </div>
        </div>
      }
    </form>

    </section>

      <cd-form-button-panel submitText="Configure IBM Call Home"
                            i18n-submitText
                            [showSubmit]="!isConfigured"
                            [form]="callHomeForm"
                            [modalForm]="true"
                            (submitActionEvent)="submit()"></cd-form-button-panel>
</cds-modal>
