@use '/src/redhat/variables' as vv;

/* stylelint-disable */
$pf-global--font-path: '~@patternfly/patternfly/assets/fonts';
$fa-font-path: '~@patternfly/patternfly/assets/fonts/webfonts';
$pf-global--fonticon-path: '~@patternfly/patternfly/assets/pficon';
$pf-global--image-path: '~@patternfly/patternfly/assets/images';
/* stylelint-enable */

@import '@patternfly/patternfly/patternfly';

/*Icon Overrides*/
.fa-question-circle-o::before {
  content: '\f059' !important;
}

.fa-bell::before {
  content: '\f086' !important;
}

.fa-cog::before {
  content: '\f0ad' !important;
}

.fa-lg::before {
  font-size: 1rem !important;
  vertical-align: 10% !important;
}

.fa-pencil::before {
  content: '\f303' !important;
  font-size: 0.9rem !important;
}

.cds--btn:disabled {
  background-color: var(--pf-global--disabled-color--200) !important;
  color: var(--pf-global--disabled-color--100) !important;
}

.cds--btn:hover {
  &:disabled {
    background-color: var(--pf-global--disabled-color--200) !important;
    color: var(--pf-global--disabled-color--100) !important;
  }
}

.cds--btn--tertiary {
  border-color: vv.$primary !important;
  color: vv.$primary !important;

  &:active,
  &:hover {
    background-color: vv.$primary !important;
    color: vv.$white !important;
  }
}

.cds--btn--primary {
  .cds--btn__icon {
    margin-bottom: 2px !important;
    margin-left: 1rem !important;
    position: static !important;
  }
}

.primary-dropdown-btn {
  .cds--btn__icon {
    margin-left: 0 !important;
  }
}

.cds--btn--primary,
.primary-dropdown-btn {
  @extend .pf-c-button, .pf-m-primary;
  background-color: vv.$primary !important;
  min-block-size: 0% !important;
}

.cds--btn--secondary {
  @extend .pf-c-button, .pf-m-secondary;
  min-block-size: 0% !important;

  &:hover,
  &:focus,
  &:active {
    background-color: vv.$white !important;
    border-color: vv.$primary !important;
    color: vv.$primary !important;
  }

  .cds--btn__icon {
    margin-bottom: 2px !important;
    margin-left: 1rem !important;
    position: static !important;
  }
}

.cds--btn--primary:hover {
  background-color: darken(vv.$primary, 5) !important;
}

cd-form-button-panel {
  button {
    margin: 5px !important;
  }

  .cds--modal-footer {
    button {
      margin: 0 !important;
    }
  }
}

.cds--modal-close {
  background-color: vv.$white !important;
}

/* Login Page */
.login {
  background-color: vv.$white !important;
  background-image: url('../assets/redhat_new_background.svg') !important;
  background-position: center;
  background-size: cover;

  .container {
    margin-left: 100px !important;

    .branding-info {
      visibility: visible !important;
    }

    img.img-fluid {
      background: url('../assets/Logo-Red_Hat-Ceph_Storage-A-Reverse-RGB.png') no-repeat !important;
      background-size: 550px !important;
      display: inline-block !important;
      margin-left: 70% !important;
      padding-right: 550px !important;
      padding-top: 160px !important;
      width: 0 !important;
    }

    .list-inline {
      font-size: 13px;
      margin-bottom: 0;
      margin-left: 105% !important;
      width: 100%;
    }

    cd-login {
      .placeholder {
        color: vv.$black;
      }

      .input-group {
        padding-top: 0;
      }

      .container {
        background-color: vv.$white;
        position: relative;
        width: 500px !important;
        z-index: 2;

        input.btn-accent {
          margin-top: 4rem;
        }

        label {
          @extend .pf-c-form__label-text;
          color: var(--pf-global--Color--100);
          padding-left: 0 !important;
        }

        .invalid-feedback {
          padding-left: 0 !important;
        }

        form {
          padding: 50px 20px 60px;

          &::before {
            @extend .pf-c-title, .pf-m-3xl;
            color: vv.$black !important;
            content: 'Log in to your account \A \A' !important;
            white-space: pre-wrap !important;
          }

          input.btn-accent {
            @extend .pf-c-button, .pf-m-primary, .pf-m-block;
            background-color: vv.$primary !important;
            color: vv.$white !important;
            font-size: 0.9rem !important;
            margin-top: 20px;
            text-align: center !important;

            &:disabled {
              background-color: vv.$light !important;
              color: vv.$disable-color !important;
            }
          }
        }

        .py-3 {
          padding-bottom: 0 !important;
          padding-top: 0 !important;
        }

        .pl-4,
        .px-4 {
          font-size: 14px;
          padding-left: 0.3rem !important;
        }

        .form-group-append {
          display: none;
        }

        .btn-arrow {
          display: none !important;
        }
      }

      .form-group {
        all: unset !important;

        label {
          font-weight: bold !important;

          &::after {
            color: vv.$danger;
            content: '*';
          }
        }
      }

      .input-group {
        height: 90px !important;
      }

      .btn-password {
        margin-top: 1.1rem !important;
      }

      .form-control {
        @extend .pf-c-form-control;
        background-color: vv.$white !important;
        border-bottom: 2px solid var($pf-color-red-100) !important;
        color: vv.$black !important;
        height: 40px !important;

        &:focus {
          box-shadow: none !important;
          outline: 2px solid vv.$primary;
        }

        &:valid {
          border-bottom: 1px solid vv.$black !important;
        }
      }

      @keyframes autofill {
        to {
          background-color: vv.$white;
          color: vv.$black;
        }
      }

      input:-webkit-autofill {
        box-shadow: 0 0 0 1000px vv.$white inset;
        -webkit-text-fill-color: vv.$black;
      }
    }

    .login-text {
      margin-left: 44%;
      padding-right: 0;
      text-align: justify;
      text-justify: inter-word;
    }
  }
}

/* Password Change form on login */
cd-login-password-form {
  form,
  h2,
  h4 {
    margin-left: 0 !important;
  }

  .form-control {
    @extend .pf-c-form-control;
    background-color: vv.$white !important;
    border-radius: unset !important;
    color: vv.$black !important;
    font-size: 0.8rem !important;

    &:hover {
      border-bottom: 1px solid vv.$primary !important;
    }

    &:focus {
      box-shadow: 0 0 1px 1px rgba(vv.$primary, 0.5) !important;
    }
  }

  .btn-password {
    background-color: vv.$white !important;
    border-radius: unset !important;
    color: vv.$black !important;
    height: 30.5px !important;

    &:hover {
      border-bottom: 1.5px solid vv.$primary !important;
    }
  }
}

/* Navigation Bar */
.cd-navbar-top {
  .cd-navbar-brand {
    background: vv.$navbar-bg !important;
    border-top: unset !important;
    padding-left: 0.5rem !important;
  }

  .navbar-brand::before {
    display: none !important;
  }

  .py-0 {
    color: vv.$white !important;
    font-size: 0.7em !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  a img {
    background: url('../assets/Logo-Red_Hat-Ceph_Storage-A-Reverse.svg') no-repeat !important;
    background-size: 130px;
    display: inline-block !important;
    padding-right: 130px;
    padding-top: 36px;
    width: 0;
  }

  .navbar-nav > li > .cd-navbar > [ngbDropdown] > a:hover,
  .navbar-nav > li > .cd-navbar > [ngbDropdown].open > a,
  .navbar-nav > li > .cd-navbar > a:hover,
  .navbar-nav > li > a:hover,
  .navbar-nav > li:hover {
    background-color: vv.$navbar-hover !important;
  }

  ul .nav-item {
    font-size: 0.95rem !important;
  }
}

/* Navigation Sidebar */
.wrapper {
  #sidebar {
    background: vv.$sidebar-bg !important;

    .cd-navbar-primary .active > a,
    .cd-navbar-primary > .active > a:focus,
    .cd-navbar-primary > .active > a:hover {
      background-color: vv.$navbar-hover !important;
      border-left: 4px solid vv.$primary !important;
    }

    ul li {
      a {
        font-size: 0.9rem !important;

        &:hover {
          background-color: vv.$navbar-hover !important;
        }
      }

      ul li a {
        font-size: 0.8rem !important;
      }
    }
  }

  a.dropdown-toggle {
    &::after {
      font-size: 0.7rem !important;
    }
  }

  ul ul a {
    background: lighten(vv.$sidebar-bg, 5) !important;
  }
}

.list-unstyled {
  @extend .pf-c-nav__list;
}

.nav-item {
  @extend .pf-c-nav__item, .pf-m-expandable;
}

.nav-tabs {
  @extend .pf-c-tabs;
  border-bottom: 0 !important;
}

/* stylelint-disable */
.nav-tabs .nav-link {
  border-bottom: 4px solid transparent !important;
  color: vv.$disable-color !important;

  &:hover {
    border-color: vv.$white !important;
    border-bottom: 4px solid vv.$nav-tab-hover !important;
  }

  &.active,
  &:focus {
    border-color: vv.$white !important;
    border-bottom: 4px solid vv.$primary !important;
    color: vv.$navbar-bg !important;
  }
}
/* stylelint-enable */

.ngbDropdown {
  @extend .pf-c-dropdown;
}

/* Notification Dot */
a {
  .dot {
    background-color: vv.$primary !important;
    border: unset !important;
  }

  /* stylelint-disable */
  &:hover .dot {
    border-color: unset !important;
  }
  /* stylelint-enable */
}

/* Notification Sidebar */
cd-notifications-sidebar {
  .card-body {
    font-size: x-small !important;
    padding: 0.5rem !important;
    padding-left: 0 !important;

    .row {
      padding-top: 0.5rem !important;
    }

    h6 {
      font-size: 15px !important;
    }

    .card-text {
      font-size: 13px !important;
    }

    small {
      font-size: 10px !important;
    }

    .btn-block {
      width: 99% !important;
    }

    /* stylelint-disable */
    .btn-light:hover {
      border-color: unset !important;
    }
    /* stylelint-enable */
  }

  .close {
    font-size: 1rem !important;
    padding-top: 2px !important;
  }
}

.ceph-icon {
  display: none !important;
}

.fa-times {
  margin-right: unset !important;
}

.dropdown {
  .btn-light {
    @extend .pf-c-button, .pf-m-control;
    border-radius: unset !important;
  }
}

/* Disabling Internationalization */
cd-language-selector {
  display: none !important;
}

cd-dashboard {
  cd-refresh-selector {
    display: none !important;
  }
}

cd-card-row {
  .list-group-item {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
  }
}

/* Forms, Tables, Buttons and all minor UI Elements*/
.btn {
  @extend .pf-c-button;
  box-sizing: border-box !important;
  font-size: 0.8rem !important;
}

.btn-submit {
  @extend .pf-c-button, .pf-m-primary, .pf-m-block;
  padding-top: 30px;
}

.form-group {
  @extend .pf-c-form__group;
}

.placeholder {
  @extend .pf-c-form__label;
}

.input-group {
  @extend .pf-c-input-group;
  background-color: transparent !important;
}

.dropdown-menu {
  font-size: 0.8rem !important;
}

cd-about {
  dl {
    --bs-gutter-y: 10px !important;
  }
}

.about-container {
  background: url('/assets/redhat_new_background.svg') no-repeat !important;
  background-position: left bottom !important;
  font-size: 1rem;
  margin-left: -10rem;
  text-shadow: none !important;
  width: 70rem !important;

  .modal-header {
    background-color: transparent !important;

    span {
      display: none !important;
    }

    .btn-close {
      visibility: hidden;
    }

    button::after {
      border: 0;
      color: vv.$white;
      content: '\f057';
      font-family: 'ForkAwesome';
      font-size: 2rem;
      position: inherit;
      right: 0;
      visibility: initial;
    }
  }

  h3 {
    @extend .pf-c-title, .pf-m-4xl;
    margin-bottom: 5rem !important;
    visibility: hidden;

    strong {
      display: none;
    }
  }

  h3::after {
    content: 'Red Hat Ceph Storage';
    font-size: 2rem !important;
    position: absolute;
    visibility: visible;
    width: 150%;
  }

  .modal-body {
    img {
      background: url('../assets/Logo-RedHat-A-Reverse-RGB.svg') no-repeat;
      background-size: 150px;
      display: inline-block;
      padding-right: 150px;
      padding-top: 36px;
      width: 0;
    }

    strong {
      font-size: larger !important;
    }
  }

  br {
    display: none !important;
  }

  .product-versions {
    margin-bottom: 0.4rem !important;

    strong {
      font-size: medium !important;
      margin-right: 16.7rem !important;
    }
  }

  .modal-footer {
    background-color: transparent !important;
    font-size: 0.8rem !important;
    margin-top: 5rem !important;

    .copyright {
      display: flex;
      margin-left: 2.3rem;
      margin-top: 0 !important;
      width: 100%;
    }

    .licence {
      line-height: 1.2rem;
      margin-left: -52rem !important;
      width: 62%;
    }
  }
}

/* General */
.text-primary {
  color: vv.$primary !important;
}

.text-success {
  color: vv.$success !important;
}

.text-info {
  color: vv.$info !important;
}

.text-warning {
  color: vv.$warning !important;
}

.text-danger {
  color: vv.$danger !important;
}

.btn-accent,
.btn-accent.dropdown-toggle {
  @extend .pf-c-button, .pf-m-primary;
  background-color: vv.$primary !important;
  border: 1px transparent !important;
  border-bottom: 2px solid transparent !important;

  &:hover,
  &:focus,
  &.focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: vv.$secondary !important;
  }

  &.disabled {
    background-color: vv.$light !important;
    border: 0 !important;
  }
}

.btn-accent.dropdown-toggle,
.btn-light.dropdown-toggle,
.dropdown-toggle-split {
  &::after {
    border: 0;
    content: '\f0d7';
    display: contents;
    font-family: 'ForkAwesome';
    font-size: 0.8rem;
    right: 0;
  }
}

// Mozilla's positioning is different.
// Also font size is making the button larger in firefox.
/* stylelint-disable-next-line */
@-moz-document url-prefix() {
  .btn-accent.dropdown-toggle,
  .btn-light.dropdown-toggle,
  .dropdown-toggle-split {
    &::after {
      border: 0;
      content: '\f0d7';
      display: contents;
      font-family: 'ForkAwesome';
      font-size: 0.6rem;
      position: inherit;
      right: 0;
    }
  }
}

.btn-light.dropdown-toggle {
  border: 1px solid vv.$btn-light-border !important;
  border-bottom: 1px solid vv.$btn-border-bottom !important;
  padding-bottom: 4px !important;

  &:hover {
    border: 1px solid vv.$hover-border !important;
    border-bottom: 1px solid vv.$primary !important;
    margin: 0 !important;
  }

  &:focus {
    box-shadow: 0 0 1px 1px rgba(vv.$primary, 0.5) !important;
  }
}

.form-control {
  @extend .pf-c-form-control;
  border-bottom: 1px solid vv.$btn-border-bottom;
  border-radius: unset !important;
  font-size: 0.8rem !important;
  height: 31px !important;

  &:hover {
    border-bottom: 2px solid vv.$primary !important;
  }

  &:disabled {
    border-bottom: 1px solid vv.$btn-border-bottom;
  }

  &:focus {
    box-shadow: 0 0 1px 1px rgba(vv.$primary, 0.5) !important;
  }

  &.is-valid {
    border-color: vv.$success !important;
    box-shadow: 0 0 0 0.5px rgba(vv.$success, 0.5) !important;
  }

  &.is-invalid {
    border-color: vv.$danger;
    box-shadow: 0 0 0 0.5px rgba(vv.$danger, 0.5) !important;
  }
}

.dataTables_header {
  background-color: vv.$white !important;
  border: 0 !important;
}

.dataTables_paginate {
  .form-control {
    @extend .pf-c-form-control;
    padding-bottom: 5px !important;

    &:hover {
      margin: 0 !important;
    }
  }
}

cd-table {
  .cds--data-table-container {
    background-color: vv.$white !important;
  }

  table {
    thead,
    th,
    button.cds--table-sort {
      background-color: vv.$white !important;
    }

    tr.cds--parent-row.cds--data-table--selected {
      background-color: vv.$table-active-row !important;
    }

    tr {
      &:hover {
        background-color: vv.$table-active-row !important;
      }

      .cds--data-table tbody tr:not([data-child-row]):hover {
        background-color: vv.$table-active-row !important;
      }
    }

    .cds--expandable-row {
      border-left: 2px solid vv.$primary !important;
    }

    tr.cds--parent-row.cds--expandable-row:hover td,
    tr.cds--parent-row.cds--expandable-row:hover+tr[data-child-row] td {
      background-color: vv.$white !important;
    }
  }

  .table-actions {
    flex-direction: row !important;
    margin-left: 3rem !important;
  }

  .cds--table-toolbar {
    background-color: vv.$white !important;
    margin: 1rem !important;
  }

  .cds--select-input.cds--select-input--md {
    width: 100px !important;
  }

  .cds--toolbar-content {
    width: 50% !important;
  }
}

cd-table .cd-datatable {
  border: 0 !important;

  .datatable-header {
    background-color: vv.$white !important;
    background-image: none !important;

    .datatable-header-cell {
      border-left: 0 !important;
    }
  }

  .datatable-body-row {
    background-color: vv.$white !important;

    // &.active {
    //   // background-color: vv.$table-active-row !important;
    // }

    .datatable-body-cell {
      border-left: 0 !important;
      text-align: left !important;

      .chart-container {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      .progress {
        margin-right: 5px !important;
      }
    }
  }
}

// Tables
.table-bordered {
  border: 0 !important;
}

.table-bordered th,
.table-bordered td {
  border-left: 0 !important;
  border-right: 0 !important;
}

.table th,
.table td {
  padding: 0.4rem !important;
}

.table {
  tr {
    background-color: vv.$white !important;
  }
}

.datatable-row-detail {
  border-left: 3px solid vv.$primary;
}

.widget-toolbar {
  .btn-light.dropdown-toggle {
    border: 1px solid vv.$btn-light-border !important;
    border-bottom: 1px solid vv.$btn-border-bottom !important;
    padding-bottom: 3px !important;

    &:hover {
      border: 1px solid vv.$hover-border !important;
      border-bottom: 2px solid vv.$primary !important;
      margin: 0 !important;
    }

    &:focus {
      box-shadow: 0 0 1px 1px rgba(vv.$primary, 0.5) !important;
    }
  }
}

.cd-col-form {
  .form-control {
    margin-top: 0.2rem !important;

    &:hover {
      border-bottom: 1px solid vv.$primary !important;
    }

    &:focus {
      box-shadow: 0 0 1px 1px rgba(vv.$primary, 0.5) !important;
    }
  }

  .cd-col-form-input .btn-light {
    height: 31px !important;
    margin-top: 3px !important;
  }
}

.form-select {
  border: 1px solid vv.$btn-light-border !important;
  border-bottom: 1px solid vv.$btn-border-bottom !important;
  border-radius: 0 !important;
  font-size: 0.8rem !important;
  height: 31px !important;
  padding-bottom: 4px !important;

  &:hover {
    border: 1px solid vv.$hover-border !important;
    border-bottom: 1px solid vv.$primary !important;
  }

  &:focus {
    box-shadow: 0 0 1px 1px rgba(vv.$primary, 0.5) !important;
  }

  &:disabled {
    border: 0 !important;
    border-bottom: 1px solid vv.$btn-border-bottom !important;

    &:hover {
      border-bottom: 1px solid vv.$btn-border-bottom !important;
    }
  }

  &.is-valid {
    border-color: vv.$success !important;
    box-shadow: 0 0 0 0.5px rgba(vv.$success, 0.5) !important;
  }

  &.is-invalid {
    border-color: vv.$danger !important;
    box-shadow: 0 0 0 0.5px rgba(vv.$danger, 0.5) !important;
  }
}

textarea.form-control {
  height: unset !important;
}

.input-group .input-group-text {
  background-color: vv.$white !important;
  border-bottom: 1px solid vv.$btn-border-bottom !important;
  border-radius: unset !important;
  font-size: 0.8rem !important;
  height: 31px !important;
}

/*Badge and Labels. */
.badge {
  @extend .pf-c-label, .pf-m-compact;
  border-radius: 30em !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
}

.badge-secondary {
  color: vv.$white !important;
}

.badge-success {
  background-color: vv.$success !important;
  color: vv.$white !important;
}

.badge-danger {
  background-color: vv.$danger !important;
  color: vv.$white !important;
}

.badge-warning {
  background-color: vv.$warning !important;
  color: vv.$white !important;
}

.badge-remove,
.badge-background-gray {
  background-color: vv.$light !important;
  color: vv.$black !important;
}

.badge-background-primary {
  background-color: vv.$primary !important;
  color: vv.$white !important;
}

.badge-hdd,
.badge-tab,
.badge-dark,
.badge-dark.me-2 {
  background-color: vv.$gray-200 !important;
  color: vv.$black !important;
}

.badge-ssd,
.badge-info {
  background-color: vv.$primary !important;
  color: vv.$white !important;
}

.btn-warning {
  border-radius: unset !important;
  font-size: 0.8rem !important;
  padding-bottom: 4px !important;
}

ngb-datepicker {
  .btn-light {
    font-size: 0.8rem !important;
  }
}

.progress-bar {
  font-size: 0.8rem !important;
}

.popover-body,
.select-menu-item {
  font-size: 0.8rem !important;
}

.card-body {
  legend {
    font-size: 1.3rem !important;
  }
}

cd-info-group {
  .info-group-title {
    font-size: 1.25rem !important;
  }

  h4.card-title {
    font-size: 1.2rem !important;
    margin: 1.1rem !important;
  }

  .card-text {
    font-size: 1.1rem !important;
    font-weight: normal !important;
  }
}

cd-info-card {
  .card-body {
    padding-bottom: 5px !important;
  }
}

.datatable-pager {
  font-size: 0.8rem !important;
}

cd-logs {
  .btn-group {
    margin-top: -55px !important;
  }

  .card-body {
    background-color: vv.$log-bg-color !important;
  }
}

h4.cd-header {
  font-size: 1.2rem !important;
}

cd-rbd-configuration-form {
  .btn-light {
    height: 31px !important;
    margin-top: 3px !important;
  }
}

cd-rgw-user-form,
cd-prometheus-form {
  .input-group-prepend {
    padding-top: 3px !important;
  }
}

.cd-col-form-label {
  @extend .pf-c-form__label;
  font-weight: bold !important;
  text-align: left !important;
}

.modal-header,
.card-header,
.modal-footer,
.card-footer {
  background-color: vv.$white !important;
}

.custom-control-input {
  @extend .pf-c-check__input;
}

h3 {
  font-size: 1.4rem !important;
}

.dashboard,
.row {
  h4 {
    font-size: 1rem !important;
  }
}

// cluster expansion wizard
cd-create-cluster {
  .blank-page {
    margin-top: -10rem;
  }

  .img-fluid {
    max-width: 30%;
    padding-bottom: 1rem;
  }

  h3 {
    @extend .pf-c-title, .pf-m-lg;
  }

  .offset-md-2 {
    margin-left: 25%;
    padding-top: 0.8rem;
  }
}

cd-modal {
  .modal-title {
    font-size: 1.2rem;
  }
}

// Accordion
.accordion {
  @extend .pf-c-accordion;

  .btn-link {
    @extend .pf-c-accordion__toggle;
  }

  .card-header {
    border: 0;
    margin-bottom: -0.91rem !important;
  }

  button {
    border-radius: 0 !important;
    color: vv.$black !important;

    &:hover,
    &:focus {
      background-color: none !important; // stylelint-disable-line
      color: vv.$primary !important;
      text-decoration: none;
    }

    &[aria-expanded='true'] {
      background-color: var(--pf-c-accordion__toggle--active--BackgroundColor) !important;
      border-left: 3px solid vv.$primary !important;
      color: vv.$primary !important;
      font-weight: bold !important;
      text-decoration: none;
    }
  }

  button.dropdown-toggle {
    position: relative;

    &::after {
      display: inline-table !important;
      font-size: 0.7rem !important;
      margin-left: 98% !important;
      margin-top: 0.5rem !important;
    }
  }

  .collapse {
    border-left: 3px solid vv.$primary;
  }
}

cd-dashboard-v3 {
  .container-fluid {
    padding-bottom: 30px !important;
  }
}

cd-upgrade {
  .btn-accent:disabled {
    color: vv.$white !important;
  }
}
